.wrapper {
	padding:0 100px;
	position:relative;
	}
.original-bubbles,
.sorted-bubbles {
	overflow:hidden;
	padding:50px 0;
	}
.bubbles li {
	border:1px solid #00F;
	border-radius:50%;
	background-color:#CCF;
	position:relative;
	list-style:none;
	display:inline-block;
	vertical-align:middle;
	margin:0 1%;
	font:14px/60% Georgia, serif;
	color:#FFF;
	box-shadow:-1px 1px 1px #00F;

	-webkit-transition:-webkit-transform 0.5s ease;
	-moz-transition:-moz-transform 0.5s ease;
	transition:transform 0.5s ease;
	}
.bubbles i {
	position:absolute;
	top:10%;
	right:20%;
	background-color:#EEF;
	border-radius:50%;
	width:30%;
	height:30%;
	}
.bubbles .highlighted {
	border-color:#F00;
	background-color:#FCC;
	box-shadow:-1px 1px 1px #F00;
	}
.bubbles .first {
	-webkit-transform:translate(25px, 0);
	-moz-transform:translate(25px, 0);
	transform:translate(25px, 0);
	}
.bubbles .second {
	-webkit-transform:translate(-25px, 0);
	-moz-transform:translate(-25px, 0);
	transform:translate(-25px, 0);
	}
.bubbles .highlighted i {
	background-color:#FEE;
	}
h2 {
	font:14px Arial, sans-serif;
	font-style:italic;
	margin:1em 0;
	}
p {
	font:12px Arial, sans-serif;
	margin:1em 0;
	}
.replay {
	position:absolute;
	right:100px;
	bottom:0;
	font:14px Arial, sans-serif;
	cursor:pointer;
}
.replay i {
	margin:0 0 0 10px;
	font-size:0;
	display:inline-block;
	vertical-align:middle;
	width:0;
	height:0;
	border-style:solid;
	border-width:40px 80px;
	border-color:#FFF #FFF #FFF #000;
}
.replay.disabled {
	color:#CCC;
	cursor:default;
}
.replay.disabled i {
	border-color:#FFF #FFF #FFF #CCC;
}

